dataset/
dataset_grouped/
kaggle/
models/
notes/
dataset_preprocessed/
speech_commands/
audio/
background_noise_cutter/
mel_scale/
model_analysis/conf_matrix/
dataset_high_res_preprocessed/
F1_vs_resolution/run_0/models/
F1_vs_resolution/run_1/models/
F1_vs_resolution/run_2/models/
F1_vs_resolution/run_first/models/
images/
./venv/
__pycache__/
*.json
*.pth